* {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

:root {
    --mycolor: #013d46;
    --subtle-color: #26676e;
    --white: white;
}

@font-face {
    font-family: "light";
    src: url("segoeui.ttf");
}

@font-face {
    font-family: "heavy";
    src: url("Nexa-Heavy.ttf");
}

p,
a {
    font-family: 'light', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'heavy', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button, a {
    cursor: pointer;
}

/*navigation bar section*/
nav {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    z-index: 100;
}

.nav-half {
    height: 90%;
}

.first-half {
    width: 20%;
    display: flex;
    color: var(--mycolor);
    align-items: center;
}

.first-half:hover {
    cursor: pointer;
}

.first-half>img {
    width: 3rem;
    height: 80%;
}

.first-half a {
    text-decoration: none;
    color: inherit;
}

.first-half h1 {
    font-size: 1.5rem;
}

.second-half {
    width: 72%;
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}

.second-half a {
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-weight: light;
}

.second-half a:hover {
    color: var(--mycolor);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 1.7rem;
}

.fa {
    text-underline-offset: 1.5rem !important;
    font-size: 1.5rem !important;
}
/*end of navigation section*/

/*buttons*/
.button-type1 {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    width: 15rem;
    height: 2.5rem;
    font-size: large;
    transition: 0.2s ease;
}

.button-type1:hover {
    background-color: var(--mycolor);
    border: none;
}
.button-type2 {
    background-color: transparent;
    border: 2px solid var(--mycolor);
    color: var(--mycolor);
    width: 15rem;
    height: 2.5rem;
    font-size: large;
    transition: 0.2s ease;
}

.button-type2:hover,
input[type="submit"]:hover {
    background-color: var(--mycolor);
    border: none;
    color: var(--white);
}
/*button section ends*/

/*footer section*/
footer {
    height: 20rem;
    width: 100%;
    display: flex;
    align-content: center;
    flex-flow: row;
    flex-direction: row;
}

.footer-half {
    width: 45%;
    height: 100%;
    padding-top: 3rem;
}

.logo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;

}

.logo>img {
    width: 3rem;
    height: 100%;
}

.logo h1 {
    font-size: 2.5rem;
    margin-left: 10px;
}

.subscribe {
    width: 100%;
    height: 50%;
    padding-top: 2.5rem;
}

input {
    height: 3rem;
    border-radius: 5px;
    text-align: center;
}

input:nth-child(1) {
    width: 50%;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    padding: 0 2rem;
    transition: all 0.2s ease;
}

input::placeholder {
    color: white;
}

input[type="email"]:focus {
    background-color: white;
    color: var(--mycolor);
    border: 2px solid var(--mycolor);
}

input[type="submit"] {
    width: 20%;
    height: 3rem;
    font-size: small;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

a.fab {
    padding-right: 20px;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

a.fab:hover {
    color: var(--mycolor);
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-links div {
    width: 30%;
    height: 100%;
    padding-top: 10px;
}

.foot-link a {
    text-decoration: none;
    color: black;
}

.foot-link li {
    margin-bottom: 15px;
}

.foot-link a:hover {
    color: var(--mycolor);
    text-decoration: underline;
}


.author {
    height: 5rem;
    width: 100%;
    padding-left: 4rem;
}

/*hidden text

.hidden-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'heavy', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('image6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hidden-text > div {
    width: 80%;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 0 10px;
}*/

@media only screen and (max-width: 1173px) {
    .second-half {
            justify-content: space-evenly;
        }
    
        .second-half a {
            margin: 0.5rem;
        }
    
        .second-half a:hover {
            text-decoration: none;
            font-weight: bolder;
        }
    }
     .container-text {
            padding: 1rem 4rem;
        }

@media only screen and (max-width: 1046px) {
    .hero-text {
            padding: 3rem 6rem;
            width: 70%;
        }
    .first-half {
        width: max-content;
        margin-left: 3rem;
    }
    .second-half a:not(.fa) {
            display: none;
    }

    section.details {
        height: 24rem;
        margin-bottom: 4rem;
    }
    
    .logo>img {
        width: 2.5rem;
        height: 70%;
    }
    .logo h1 {
    font-size: 2rem;
    margin-left: 5px;
    }

    section.founder {
        height: 30rem;
    }

    .founder-half {
        padding: 5rem;
    }

}

@media only screen and (max-width: 900px) {
    .first-half {
        margin-left: 2.5rem;
    }
    section.details {
        height: 22rem;
        margin-bottom: 3rem;
    }
    .container-text {
        padding: 0 2rem;
        }
    .hero-p:not(.p-hero) {
        margin: 0;
    }
    .container-text {
        padding-top: 1rem;
    }
    .album-items {
        padding: 1rem;
    }
    .album-button {
        margin-top: 0.5rem;
    }
    
}

@media only screen and (max-width: 870px) {
        .logo>img, .logo h1, .second-half {
            display: none;
        }
    
    .album-items h1 {
        font-size: medium;
            }
        
    .album-button {
        margin-top: 0.5rem;
        width: 6rem !important;
        font-size: small !important;
        }
    
    section.founder {
            height: 25rem;
        }
    
        .founder-half {
            padding: 3rem;
        }
    .hero-text {
        width: 80%;
    }

    section.details {
        height: 22rem;
    }
    .album-container {
        height: 90%;
    }
    .album-img {
        height: 65%;
    }
        
}

@media only screen and (max-width: 770px) {
    .hero-text {
        width: 100%;
        backdrop-filter: blur(1.5px);
        margin: 1rem 0;
    }

    section.details {
        flex-direction: column;
        height: 43rem;
        align-items: center;
        margin-bottom: 1rem;
        padding-bottom: 0;
    }
    .container {
        height: 50%;
        width: 80%;
    }
    .container-img {
        height: 70% !important;
    }
    .container-text {
        padding: 2rem;
    }
    .even-details {
        flex-direction: column-reverse !important;
    }
    .album {
        height: 80rem !important;
        padding: 2rem 0 !important;
        margin-bottom: 2rem !important;
    }
    .album-container {
        height: 30%;
        width: 60%;
    }
    .service {
        margin: 3.5rem 0 0 0;
    }
    #service-button {
        width: 10rem;
        font-size: smaller;
    }

    section.founder {
        height: 50rem;
        flex-direction: column-reverse;
    }
    .founder-half{
        width: 100%;
        font-size: small;
    }
    .founder-half:first-child {
        height: 30% !important;
    }
    .founder-half:nth-child(2) {
        height: 70%;
    }
    .founder h1 {
        font-size: 1rem;
    }
    section.help-button {
        height: 10rem;
        flex-direction: column-reverse;
        align-items: center;
    }
    .help-button button {
        margin: 0.5rem;
    }
    footer {
        height: 25em;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer-half {
        height: 40%;
        width: 100%;
        padding: 0 3rem;
    }
    .subscribe {
        padding: 2rem 0;
        
    }
    a.fab {
        margin: 2rem 0;
    }
}

@media only screen and (max-width: 500px) {
    .hero-text {
        padding: 1rem 2rem;
    }
    section.founder {
        height: 35rem;
    }
    .founder-half:first-child {
        padding: 0.5rem 1.5rem;
    }
    .button-type1 {
        width: 15rem !important;
        font-size: medium;
    }
    .button-type2 {
        font-size: small !important;
        width: 10rem;
    }
    .founder button {
        font-size: small;
        width: 8rem !important;
    }
    input:nth-child(1) {
            width: 70%;
        }
    
    input:nth-child(2) {
            width: 25%;
        }
    
    .author {
            font-size: small;
        }
}
@media only screen and (max-width: 400px) {
    .hero-text h1, .hero-p, .container h1 {
        font-size: medium;
    }
    section.details {
        height: 30rem;
    }
    .container p {
        font-size: small;
        margin-bottom: 0.5rem;
    }

    .container-text {
        padding: 1rem 0;
    }
    .hero-p {
        padding: 0.5rem 0;
    }
    .first-half {
        margin: 0;
    }
    .service {
        height: 5rem;
        margin-top: 2rem;
    }

    .service > div {
        flex-direction: column;
        align-items: center;
    }
    .service h1 {
        margin: 0;
        align-self: center;
    }
    .album {
        height: 70rem !important;
    }
    section.founder {
        height: 30rem;
    }
    .founder br, .founder p, .container br {
        display: none;
    }
    .help {
        height: 6rem !important;
    }
    .help h1 {
        font-size: smaller;
    }
    .footer-half {
        font-size: small;
        padding: 0 1rem;
        margin: 0;
    }

}